@media screen and (min-width: 702px) {
    .nav {
        .menu-btn {
            display: none;
        }

        &__center {
            flex-direction: row;
        }

        &__header {
            width: initial;
        }

        &__links {
            position: initial;
            width: initial;
            height: initial;
            background: transparent;

            ul {
                visibility: visible;
                flex-flow: row nowrap;
                margin: 0;

                a {
                    font-size: 0.75rem;
                }
            }
        }
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .testmonial {
        #{&}__items {
            grid-template-columns: 1fr 1fr;
        }    
    }

    .about, .contact {
        grid-template-columns: 1fr 1fr;
    }

    .contact {
        gap: 2rem;
    }

    .blog {
        grid-template-columns: 2fr 1fr;
    }

}