@import 'config';
@import 'index';

header {
    width     : 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url('../assets/banner.png') fixed center/cover;

    .content {
        position       : absolute;
        top            : 0;
        bottom         : 0;
        left           : 0;
        right          : 0;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        text-align     : center;
        color          : var(--white);
        margin         : auto;

        h1 {
            font-size  : 68px;
            font-weight: 500;
        }

        .header-btn {
            padding   : 1rem 1.5rem;
            background: none;
            border    : 1px solid var(--white);

            a {
                color    : var(--white);
                font-size: 13px;
            }
        }
    }
}

.nav {
    width              : 90vw;
    margin             : auto;
    padding            : 1.5rem 0;
    // background-color: rgb(210, 255, 127);

    &__center {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        flex-direction : column;
    }

    &__header {
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        &__logo {
            display        : flex;
            justify-content: center;
            align-items    : center;
        }

        img {
            width: 150px;
        }

        .menu-btn {
            position    : relative;
            cursor      : pointer;
            margin-right: 1rem;
            z-index     : 1;
            transition  : var(--transition);

            &__burger {
                position  : absolute;
                width     : 28px;
                right     : 0;
                height    : 3px;
                background: var(--white);
                transition: var(--transition);

                &::before {
                    content   : '';
                    position  : absolute;
                    top       : -8px;
                    width     : 28px;
                    height    : 3px;
                    background: var(--white);
                    transition: var(--transition);
                }

                &::after {
                    content   : '';
                    position  : absolute;
                    top       : 8px;
                    width     : 20px;
                    height    : 3px;
                    background: var(--white);
                    transition: var(--transition);
                }
            }
        }
    }


    &__links {
        visibility: hidden;
        position  : fixed;
        top       : -100vh;
        overflow  : hidden;
        left      : 0;
        opacity   : 0.8;
        background: #272727;
        width     : 100vw;
        transition: var(--transition);
        height    : 100vh;


        ul {
            display    : flex;
            flex-flow  : column wrap;
            margin-top : 8rem;
            gap        : 2rem 3rem;
            align-items: center;
            overflow   : hidden;
        }

        a {
            display       : block;
            font-size     : 2rem;
            text-transform: uppercase;
            color         : var(--white);
        }

        li {
            &::after {
                content   : "";
                width     : 0%;
                background: #f44336;
                display   : block;
                height    : 2px;
                margin    : auto;
                transition: var(--transition);
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }

    }

    .open {
        visibility: visible;
        top       : 0;
    }
}

footer {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;

    .content {
        padding-top: 3rem;
        text-align : center;
        font-size  : var(--smallText);
    }

    h5 {
        font-weight: 600;
    }

    .social-icons {
        display: flex;
        gap    : 0.5rem;
    }

    i {
        color: var(--primary-600);
    }

}

// @import 'responsive';